@import "tailwindcss";

@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --color-main: #e60000;
  --color-content: #282d30;
}

:root {
  --bg-color: #282d30;
  --color-primary: #e60000;
  --color-secondary: #fb2a2a;
}

html,
body {
  @apply bg-white;
  color: var(--bg-color);
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/* Use all the available space */
#root {
  width: 100%;
  height: calc(100vh - 90px);
}

a:hover,
a:active {
  color: var(--color-primary);
}

/* Define here recurrent styles */
header nav > ul > li > a {
  @apply text-white;
  @apply font-medium;
  @apply text-2xl;
}

aside nav > ul > li > a {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply h-max;
  @apply w-max;
}

aside nav > ul > li {
  @apply mb-2;
}
